@model MVC_First_Task.Models.Counter
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <img src="~/resources/images/logo.gif" width="200" />
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12">

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <p style="font-weight:bold ; font-size:1.25vw; margin-top : 5%;">Branches Configurations</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12">

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <p style="font-weight:bold ; font-size:1.25vw; margin-top : 5%;">Branches</p>
    </div>
</div>

<br />
<table class="table">
    <tr>
        @Html.HiddenFor(model => model.BranchID)
        @Html.HiddenFor(model => model.CounterID)
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Number)
        </td>
        <td>
            @Html.DisplayFor(model => model.Number)
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}